* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: hsl(30, 38%, 92%);
}
.design-five {
    padding-bottom: 60px;
    padding-top: 60px;
}
.design-five .container {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 70px;
    margin-bottom: 70px;
}
.design-five .container .column .image {
    width: 300px;
    height: 100%;
}
.design-five .container .column .image img:first-child {
    width: 300px;
    border-radius: 10px 0 0 10px;
    height: 100%;
}
.design-five .container .column .image img:last-child {
    display: none;
}
.design-five .container .column .text-content {
    padding: 40px;
}
.design-five .container .column .text-content h5 {
    
    font-family: "Montserrat";
    text-transform:uppercase;
    margin: 0;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-weight: 600;
}
.design-five .container .column .text-content h1 {
    font-family: "Fraunces" , sans-serif;
    font-weight: 700;
}
.design-five .container .column .text-content p {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    line-height: 1.4;
}

.design-five .container .column .text-content h1:nth-child(4) {
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
}   
.design-five .container .column .text-content h1:nth-child(4) span {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin-left: 10px;
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
}
.design-five .container .column .input-cont input {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: hsl(158, 36%, 37%);
    color: white;
}
.design-five .container .column .input-cont input:hover {
    background-color: hsl(158, 42%, 18%);
}
@media (max-width:767px)
{
    .design-five .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 350px;
        margin: auto;
    }
    .design-five .container .column .image img:first-child {
        display: none;
    }
    .design-five .container .column .image img:last-child {
        display: block;
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    .design-five .container .column .text-content h1 {
        font-size: 30px;
    }
}